<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
</head>
<body>
<form action="/users/reg" method="post">
    姓名：<input type="text" name="username"><br>
    密码：<input type="text" name="password"><br>
    性别：<label class="radio-inline">
        <input type="radio" name="sex"  value="0" checked> 男
    </label>
    <label class="radio-inline">
        <input type="radio" name="sex"  value="1"> 女
    </label><br>
    <input type="submit" value="注册">
</form>
</body>
</html>