<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
</head>
<body>
<form action="/users/update" enctype="multipart/form-data" method="post">
    <input type="hidden" value="{{datas[0].id}}" name="id">
    <!-- UID：<input type="text" name="uid" value="{{datas[0].uid}}"><br>
    密码：<input type="text" name="password" value="{{datas[0].password}}"><br> -->
    昵称：<input type="text" name="username" value="{{datas[0].username}}"><br>
    个性签名：<input type="text" name="PersonalSignature" value="{{datas[0].PersonalSignature}}"><br>
    头像：<input type="file" name="head" accept="image/*" value="{{datas[0].head}}"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>